v<% include partials/header %>

<!-- Edit Page- takes pre-filled form from new.ejs by taking into account the _id for selected product -->

<form
  id="regForm"
  action="/products/<%= product._id %>?_method=PUT"
  method="POST"
>
  <h2>Edit Information about the Product: <%= product.title %></h2>

  <!-- One "tab" for each step in the form: -->
  <!-- Tab 1 -->
  <div class="tab">
    Client Code:
    <p>
      <input
        value="<%= product.clientCode %> "
        name="cc"
        oninput="this.className = ''"
      />
    </p>
    Title:
    <p>
      <input
        value="<%= product.title %>"
        name="title"
        oninput="this.className = ''"
      />
    </p>
    Brand:
    <p>
      <input
        value="<%= product.brand %>"
        name="brand"
        oninput="this.className = ''"
      />
    </p>
    Model Number:
    <p>
      <input
        value="<%= product.modelNumber %>"
        name="modelNo"
        oninput="this.className = ''"
      />
    </p>
    Dimensions:
    <p>
      <input
        value="<%= product.dimension %>"
        name="dimension"
        oninput="this.className = ''"
      />
    </p>
    Weight:
    <p>
      <input
        value="<%= product.weight %>"
        name="weight"
        oninput="this.className = ''"
      />
    </p>
    Quantity:
    <p>
      <input
        value="<%= product.quantity %>"
        name="quantity"
        oninput="this.className = ''"
      />
    </p>
    Category:
    <p>
      <input
        value="<%= product.category %>"
        name="category"
        oninput="this.className = ''"
      />
    </p>
  </div>

  <!-- Tab 2 -->
  <div class="tab">
    Auto Generated SKU:
    <p>
      <input id="sku" name="sku" oninput="this.className = ''" />
    </p>
    Enter image url:
    <p>
      <input
        value="<%= product.images %>"
        name="image"
        oninput="this.className = ''"
      />
    </p>
    Description:
    <p>
      <input
        value="<%= product.description %>"
        name="description"
        oninput="this.className = ''"
      />
    </p>
    Location:
    <p>
      <input
        value="<%= product.location %>"
        name="location"
        oninput="this.className = ''"
      />
    </p>
  </div>

  <!-- Tab 3 -->
  <div class="tab">
    Listed Price:
    <p>
      <input
        value="<%= product.listedPrice %>"
        name="lp"
        oninput="this.className = ''"
      />
    </p>
    Selling Price:
    <p>
      <input
        value="<%= product.sellingPrice %>"
        name="sp"
        oninput="this.className = ''"
      />
    </p>
    Reserve:
    <p>
      <input
        value="<%= product.reserve %>"
        name="reserve"
        oninput="this.className = ''"
      />
    </p>
  </div>

  <!-- Buttons -->
  <div style="overflow:auto;">
    <div style="float:right;">
      <button class="btns" type="button" id="prevBtn" onclick="nextPrev(-1)">
        Previous
      </button>
      <button class="btns" type="button" id="nextBtn" onclick="nextPrev(1)">
        Next
      </button>
    </div>
  </div>

  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>

<% include partials/footer %>
