<h1>This is the product page</h1>

<% products.forEach(function(product){ %>

<h4><%= product.status %></h4>
<h4><%= product.sku %></h4>
<!-- <h4><%= product.condition %></h4>
<h4><%= product.clientCode %></h4>
<h4><%= product.brand %></h4>
<h4><%= product.modelNumber %></h4>
<h4><%= product.dimension %></h4>
<h4><%= product.weight %></h4>
<h4><%= product.quantity %></h4> -->
<h4><%= product.title %></h4>
<h4><%= product.category %></h4>
<!-- <h4><%= product.description %></h4>
<img src="<%= product.images %>" />
<h4><%= product.listedPrice %></h4> -->
<h4><%= product.sellingPrice %></h4>
<!-- <h4><%= product.reserve %></h4>
<h4><%= product.location %></h4>
<h4><%= product.paymentMethod %></h4>
<h4><%= product.transactionDetails %></h4>
<h4><%= product.AmountReceived %></h4> -->

<% }); %>
