<% include partials/header %>

<div class="container">
  <h1 style="margin-top: 100px">Product Inventory</h1>
  <p>Search/Sort the product you are looking for</p>

  <table id="p_table" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          Status
        </th>
        <th scope="col">
          Title
        </th>
        <th scope="col">
          Price
        </th>
        <th scope="col">
          Category
        </th>
        <th scope="col">
          SKU
        </th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(function(product){ %>
      <tr>
        <td><%= product.status %></td>
        <td>
          <a href="/products/<%=product._id %>" style="color: inherit">
            <%= product.title %></a
          >
        </td>
        <td><%= product.sellingPrice %></td>
        <td><%= product.category %></td>
        <td><%= product.sku %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <button
    id="btnAdd"
    style="margin :20px auto"
    type="button"
    class="btn btn-outline-secondary"
  >
    Add a Product
  </button>
</div>

<% include partials/footer %>
